# Legacy file retained as a convenience index.
#
# Preferred:
#   python -m pip install -e ".[dev]"
#
# File-based equivalents:
#   python -m pip install -r requirements/base.txt
#   python -m pip install -r requirements/dev.txt
#   python -m pip install -r requirements/openmmlab.txt
#   python -m pip install -r requirements/reid.txt
